.award {
  background: $color-fiord;
  color: $color-white;
  padding: 0rem 0rem 0.1rem;
  }

.award__header {
  color: $color-white;
  @extend %header;
}

.award__title {
  font-weight: bold;
  font-size: 1.5rem;
}

.award__card {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  margin-left:0.3rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
  background: $color-fiord;
  color: $color-white;
  width: 90%;

  .award__icon {
    width: 20%;
    font-size:2rem;
    padding: 1.5rem;
    color: $color-white;
    align-items: center;
    text-align: center;
    border-right: 0.1rem solid $color-white;
  }

  &>div:nth-child(even) {
    width: 80%;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
  }

  &>div:nth-child(odd) {
    border: 0.3rem solid $color-white;
    border-radius: 2rem;
    margin-bottom: 0.1rem;
    transition: 0.5s;

    &:hover {
      color: $color-fiord;
      background-color: $color-white;
    }
  }

  &>div:nth-child(1) {
    background-color: $color-violet-red;
  }
  &>div:nth-child(3) {
    background-color: $color-yellow-green;  
  }
  &>div:nth-child(5) {
    background-color: $color-robins-egg-blue;
  }
  &>div:nth-child(7) {
    background-color: $color-carrot-orange;
  }
  &>div:nth-child(4) {
    font-style: italic;
  }
}

html[dir="rtl"] {
  .award__card{
    margin-right: 4rem;
  }
}