@font-face {
  font-family: 'my-cv';
  src:
    url('asset/font/my-cv.ttf?3rw60p') format('truetype'),
    url('asset/font/my-cv.woff?3rw60p') format('woff'),
    url('asset/font/my-cv.svg?3rw60p#my-cv') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="my-cv__icon--"], [class*=" my-cv__icon--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'my-cv' !important;
  speak-as: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my-cv__icon--location:before {
  content: "\e900";
}
.my-cv__icon--info:before {
  content: "\e902";
}
.my-cv__icon--calender:before {
  content: "\e903";
}
.my-cv__icon--th-menu-outline:before {
  content: "\e905";
}
.my-cv__icon--home-outline:before {
  content: "\e906";
}
.my-cv__icon--social-github-circular:before {
  content: "\e907";
}
.my-cv__icon--briefcase:before {
  content: "\e904";
}
.my-cv__icon--social-twitter-circular:before {
  content: "\e908";
}
.my-cv__icon--social-linkedin-circular:before {
  content: "\e909";
}
.my-cv__icon--social-facebook-circular:before {
  content: "\e90a";
}
.my-cv__icon--social-skype-outline:before {
  content: "\e90b";
}
.my-cv__icon--github:before {
  content: "\eab0";
}
.my-cv__icon--file-pdf:before {
  content: "\eadf";
}
