.landing-page {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient($color-manatee,$color-fiord);
}

.landing-page__wrapper {
  text-align: center;
}

.landing-page__name {
  padding-bottom: 0.3rem;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: $color-white;
  font-weight: bold;
}

.landing-page__title {
  font-size: 3rem;
  text-transform: capitalize;
  color: $color-sunglow;
}

.landing-page__social {
  display: flex;
  margin-top: 7rem;
  margin-bottom: 1rem;
  justify-content: center;
}

.landing-page__label {
  color: $color-white;
  font-size: 4.5rem;
  width: 80%;
  cursor: pointer;
  transition: 0.5s;
    
  &:hover {
    color: $color-sunglow;
  }
}

.landing-page__box-radio:checked + 
.landing-page__box-message {
  display: flex;
  transition: 0.5s;
}

.landing-page__box-radio,
.landing-page__box-message {
  display: none;
}

#default-message-radio:checked +
.landing-page__box-message +
.landing-page__box-header {
  display: none;
}

.landing-page__box-body {
  border: 0.35rem solid $color-white;
  border-radius: 3rem;
  margin: 0 auto;
  width: 70%;
}

.landing-page__box-message {
  font-size: 2.4rem;
  height: 2.4rem;
  color: $color-sunglow; 
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
  justify-content: center;
  font-weight: bold;
  text-decoration: none;
}

.landing-page__box-link,
.landing-page__box-link:visited {
  text-decoration: none;
  width: 85%; 
  color: $color-sunglow;
}

.landing-page__box-close {
  cursor: pointer;
  font-size: 2.4rem; 
  color: $color-manatee;
  background-color: $color-white;
  border-radius: 2rem;
  padding: 0rem 1.5rem;
  transition: 0.5s;

  &:hover {
    color: $color-sunglow;
  }
 }