.landing-page {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient($color-manatee,$color-fiord);
}

.landing-page__wrapper {
  text-align: center;
}

.landing-page__name {
  padding-bottom: 0.3rem;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: $color-white;
}

.landing-page__title {
  font-size: 3rem;
  text-transform: capitalize;
  color: $color-sunglow;
}

.landing-page__social {
  display: flex;
  margin-top: 7rem;
  margin-bottom: 1rem;
  justify-content: center;
}

.landing-page__label {
  color: $color-white;
  font-size: 4.5rem;
  width: 80%;
  cursor: pointer;
    
  &:hover {
    color: $color-sunglow;
  }
}

.landing-page__box-radio:checked + 
.landing-page__box-message {
  display: inherit;
}

.landing-page__box-radio,
.landing-page__box-message {
  display: none;
}

#default-message-radio:checked +
.landing-page__box-message +
.landing-page__box-header {
  display: none;
}

.landing-page__box-body {
  border: 0.4rem solid $color-white;
  border-radius: 3rem;
  margin: 0 auto;
  width: 75%;
}

.landing-page__box-message {
  font-size: 2.3rem;
  height: 2.5rem;
  color: $color-sunglow; 
  }

.landing-page__box-link,
.landing-page__box-link:visited {
  text-decoration: none;
  width: 85%; 
  float: left;  
  font-size: 2rem;
  height: 2.5rem;
  color: $color-sunglow;
  margin: 0.2rem auto;
}

.landing-page__box-close {
  cursor: pointer;
  font-size: 2.6rem; 
  color: $color-manatee;  
  background-color: white;
  display: flex;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 0rem 1rem;
 }