extends _component/layout/page
block config
  -
    var myTitleForGS = "Razvan Mocanu - CV"
    var myDescriptionForGS = "Made using PURE HTML5 and CSS"
block content
  include _component/landing-page/landing-page
  include _component/about-me/about-me
  include _component/award/award