extends _component/layout/page
block config
  -
    var myTitleForGS = "Razvan Mocanu - My Resume"
    var myDescriptionForGS = "A simple HTML5 and CSS showcase."
block content
  include _component/landing-page/landing-page
  include _component/about-me/about-me
  include _component/diplomas/diplomas
  include _component/skills/skills
  include _component/projects/projects
  include _component/menu-pop/menu-pop