.about-me {
  background-image: radial-gradient($color-sunglow,$color-yellow-sea);
  padding-bottom: 1rem;
 }

.about-me__header {
  color: $color-white;
  @extend %header;
}

.about-me__avatar-wrapper {
  margin: 3rem auto;
  border: 0.3rem solid $color-fiord;
  border-radius: 50%;
  position: relative;
  background-image: url(asset/image/avatar.png);
  width: 50%;
  padding: 25%;
  background-size: cover;
  transition: 0.5s;

  &::after {
    content:'';
    position: absolute;
    border: 0.5rem solid rgba($color: $color-fiord, $alpha: 0.3);
    top: -1rem;
    bottom: -1rem;
    left: -1rem;
    right: -1rem;
    border-radius: 50%;
  }

  &:hover {
    box-shadow: 0 0 10px rgba(255,255,255,1),
                0 0 20px rgba(255,255,255,1),
                0 0 30px rgba(255,255,255,1),
                0 0 50px rgba(255,255,255,1),
                0 0 70px rgba(255,255,255,0.5),
                0 0 90px rgba(255,255,255,0.5);
  }

}

.about-me__full-name {
  color: $color-white;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}

.about-me__title {
  font-size: 2.25rem;
  color: $color-white;
  text-align: center;
  padding: 0.3rem 1rem 1.5rem;
}

.about-me__motto,
.about-me__content {
  font-size: 1.5rem;
  text-align: justify;
  text-indent: 4rem;
  color: $color-fiord;
  padding: 1rem;
}

.about-me__link-list {
  text-align: center;
}

.about-me__link {
  display: flex;
  width: 80%;
  font-size: 3rem;
  text-decoration: none;
  border: 0.3rem solid $color-white;
  border-radius: 2rem;
  background-color: $color-fiord;
  margin: 0.4rem auto;
  justify-content: space-around;
  align-items: center;
  color: $color-white;
  padding: 0.5rem;
  font-weight: bold;
  transition: 0.5s;

  &:hover {
    color: $color-sunglow;
  }
}

.about-me__link-description {
  font-size: 1.5rem;
  line-height: 1.5;
  flex-grow: 1;  
}